




li,
a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: brown;
    text-decoration: none;
    margin-bottom: 1rem
}

#genres_menu {
    margin: 0;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(209, 209, 188);
    align-self: stretch;
    list-style-type: none;
}

