.main_container {
  display: flex;
  height: 100%;
}

.container{
  height: 100vh;
  overflow: hidden;
  background-color: #D7F9FF;
}
.row{
  display: flex;
  height: 100%;
}


.left {

  flex: 0 0 20%;
}

.right {
  flex-grow: 1;
}

:host {
  display: block;
  height: 100%;
}